/* Commentaires */
body{ 
  display:flex; 
  flex-direction:column; 
  margin: 0 0 100px;
  padding: 25px;

}

html {
	position: relative;
	min-height: 100%;
}



/* HEADER */

 .logo_header {
 float: left;
 width: 50px;
 height: 50px;
 margin-bottom: : 100px;

 }

.photo_profil {
	float: right;
	width: 50px;
	height: 50px;
}

.nom_prenom {
	float: right;
	line-height: 50px;
}

 
.barre_header {
	margin-top: 85px;

}

.boutonsite {
	border-radius: 5px;
	margin-left: 15px;
	background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.boutonsite:hover {
	background-color: white;
    color: #B22222;
    border: 1px solid #B22222;
}

 /*Présentation */ 

presentation {
	background-color: silver;
}

h1 {
	text-align: center;
}

.logo_presentation {
text-align: center;
width:150px;
height:150px;
}

#logo_presentation_p {
	text-align: center;
}

#text_presentation{
	text-align: center;
}


#text_acteurs {
	text-align: center;
}

#barre_presentation {
	border-bottom: 2px solid grey
}

/* Acteurs */

h2 {
	text-align: center;
}

h3 {
	text-align: left;
}

.encadrement_acteurs {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 50px;
	padding-left: 25px;
	border: 2px solid grey;
	text-align: right ;
	border-spacing: 5px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
}

.cadre_general {
	border :2px solid grey;
	padding: 10px;
	margin: 0 auto;
	width: 95%;
	border-radius: 10px;
}

img.logo_acteurs {
	float: left;
	max-width:250px;
	max-height:50%;
	margin-left: 5px;
	display: block;
}

/* footer */

footer {
	border-top: 2px solid grey;
	display: table-row;
	height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

ul {
 padding:0;
 margin:0 ;
 list-style-type:none;
 text-align: center;
 }

li {
display: inline;
 margin-left: 1px;
 text-align: center;
}

 

 
