body{ 
  display:flex; 
  flex-direction:column; 
  margin: 0 0 100px;
  padding: 25px;

}

html {
	position: relative;
	min-height: 100%;
}


/* HEADER */

header {
	margin-bottom: 20px;
}

 .logo_header {
 float: left;
 width: 50px;
 height: 50px;
 margin-bottom: : 100px;

 }

.photo_profil {
	float: right;
	width: 50px;
	height: 50px;
}

.nom_prenom {
	float: right;
	line-height: 50px;
}

 
.barre_header {
	margin-top: 85px;
	background-color:grey;
}

/* SECTION ACTEUR */

h2 {
	text-align: center;
}

.logo_acteurs {
	text-align: left;
	width: 350px;
	height: auto;
}

.logo_acteur_p {
	text-align: center;
}

.cadre_acteur {
	border :2px solid grey;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 10px;

}
/* SECTION COMMENTAIRES */

.votrecommentaire {
	text-align: center;
	border :2px solid grey;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius:10px;

}

.commentaire_encadrement {
	border :2px solid grey;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius:10px;
	
}

.like {
	margin-right: 4px;
	margin-left: 2px;

}

.dislike {
	margin-right: 2px;
	margin-left: 4px;
}

.commentaire {
	width: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid grey;
	ext-align: left;
	ackground: silver;
	border-spacing: 5px;
	margin-left:15px;
	margin-right: 15px;
}

.like_encadrement {
	width : 8%;
	border: 2px solid grey;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 1571px;
}

/* FOOTER */

footer {
	border-top: 2px solid grey;
	display: table-row;
	height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

ul {
 padding:0;
 margin:0 ;
 list-style-type:none;
 text-align: center;
 }

li {
display: inline;
 margin-left: 5px;
 text-align: center;
}

/* Mentions légales */

h1 {
	text-align: center;

}

/* contact */

form {
	text-align: center;
}

input[type=submit] {
    background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}
input[type=submit]:hover {
    background-color: white;
    color: #B22222;
    border: 1px solid #B22222;
}

.boutonsite {
	background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.boutonsite:hover {
	background-color: white;
    color: #B22222;
    border: 1px solid #B22222;
}